body {
    background: #fff;
    font-family: "Quicksand", sans-serif;
}

main,
form {
    padding: 1em 1em 0 0;
}

a {
    color: #885df1;
}

.weather-app {
    background: #eff2fffa;
    max-width: 600px;
    margin: 10% auto;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0.5em 0.5em #41326414;
}

.weather-app:hover {
    background-color: #e4f0fa;
}

::placeholder {
    font-style: italic;
    font-size: 1em;
    color: #27214266;
}

.search-input {
    outline: none;
    background-color: #f9f7fe;
    border: none;
    color: #393939;
    font-size: 1.1em;
    padding: 1.1em;
    width: 70%;
    border-radius: 1.5em;
}

.search-button {
    margin-left: 1em;
    font-size: 1em;
    font-weight: bold;
    background-color: #9875f1;
    color: white;
    border: none;
    padding: 1.3em;
    line-height: 1;
    border-radius: 3em;
}

.search-button:hover {
    background-color: #845bed8c;
}

.search-button:active {
    background-color: #ed5bea91;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.current-temperature {
    display: flex;
    justify-content: space-evenly;
    font-size: 48px;
    color: #393939;
}

.current-city {
    font-family: "Roboto Mono", monospace;
    color: #ec4275db;
    font-size: 40px;
    font-weight: 900;
    margin-left: 0.1em;
}

.current-details {
    color: #27214266;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0.2em;
}

.current-details strong {
    color: #f15483db;
}

.current-temperature-icon {
    position: relative;
    width: 100px;
    height: 100px;
}

.current-temperature-value {
    font-size: 80px;
    font-weight: bold;
}

.current-temperature-unit {
    font-size: 20px;
    position: relative;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 3em;
    color: #27214266;
}
